.fondo-rojo {
  background-color: red;
}

.fondo-verde {
  background-color: green;
}

.fondo-azul {
  background-color: blue;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.olive {
  color: olive;
}

.fuchsia {
  color: fuchsia;
}

.green {
  color: green;
}